
 <ion-header transparent>
   <ion-navbar transparent>
     <button style="color: white" ion-button menuToggle>
       <ion-icon name="menu"></ion-icon>
     </button>
     <ion-title text-center align-items-center ><img alt="logo" height="40"   src='assets/imgs/logo.png' > </ion-title>
   </ion-navbar>
 </ion-header>

<ion-content style="height: 100%; background-color: #222131;">


    <div class="container-contact1">
      <form class="contact1-form validate-form">
				<span class="contact1-form-title">
					HABEN SIE EINE FRAGE?
				</span>
        <span style="color: white; font-size: medium" class="contact1-form-title">Sie können uns alles fragen</span>

        <div class="wrap-input1 validate-input" data-validate = "Sag uns deinen namen">
          <input [(ngModel)]="vorname" class="input1" type="text" name="name" placeholder="Vorname">
          <span class="shadow-input1"></span>
        </div>

        <div class="wrap-input1 validate-input" data-validate = "Sag uns deinen namen">
          <input [(ngModel)]="nachname" class="input1" type="text" name="name" placeholder="NachName">
          <span class="shadow-input1"></span>
        </div>

        <div class="wrap-input1 validate-input" data-validate = "Geben sie ihre e-mail edresse">
          <input [(ngModel)]="email" class="input1" type="email" name="email" placeholder="Email">
          <span class="shadow-input1"></span>
        </div>


        <div class="wrap-input1 validate-input" data-validate = "Telefonnummer Eingeben">
          <input [(ngModel)]="phone" class="input1" type="number" name="telno" placeholder="Telefon Nummer">
          <span class="shadow-input1"></span>
        </div>

        <div class="wrap-input1 validate-input" data-validate = "Nachricht ist erforderlich">
          <textarea [(ngModel)]="message" class="input1" name="message" placeholder="Nachricht"></textarea>
          <span class="shadow-input1"></span>
        </div>

        <div class="container-contact1-form-btn">
         <button (click)="post()" color="ikincil" round ion-button> Senden </button>
        </div>
      </form>

    </div>



</ion-content>
