<ion-header transparent>
  <ion-navbar transparent>
    <button style="color: white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center align-items-center><img alt="logo" height="40" src='assets/imgs/logo.png'></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="baGround" padding>
  <div no-border text-center>
    <ion-slides no-border style="background: transparent; height: 50%; width: auto;" autoplay="2500" loop="true">
      <ion-slide style="background: transparent">
        <img class="foto" src="assets/imgs/home/2-min.jpeg">
      </ion-slide>
      <ion-slide style="background: transparent">
        <img class="foto" src="assets/imgs/home/3-min.jpeg">
      </ion-slide>
      <ion-slide style="background: transparent">
        <img class="foto" src="assets/imgs/home/4-min.jpeg">
      </ion-slide>
    </ion-slides>
    <br>
    <h3 style="color: orange; font-weight: bold;">ONLINE BESTELLEN</h3>
    <h5 style="color: white">JETZT BESTELLEN</h5>
  </div>


  <div style="width: 100%;height: auto">
    <ion-card text-center style="border-radius: 10%; background-color: transparent ">
      <ion-grid style="width: 100%">
        <ion-row text-center>
          <ion-col text-center style="border-radius: 15%">
            <a style="text-decoration:none;" href="tel:+43 677 62633371">
              <img src="assets/imgs/phone.png" style="width: 25%; height: auto; margin-left: auto;margin-right: auto;">
              <br>
              <h5 style="color: orange;">+43 677 62633371</h5></a>
          </ion-col>
          <ion-col text-center align-items-center style="border-radius: 15%">
            <a style="text-decoration:none;" href="tel:+43 660 5383206">
              <img src="assets/imgs/phone.png" style="width: 25%; height: auto; margin-left: auto;margin-right: auto;">
              <br>
              <h5 style="color: orange;">+43 660 5383206</h5></a>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row>
          <ion-col text-center style="border-radius: 15%">
            <a style="text-decoration:none;"
               href="https://api.whatsapp.com/send?phone=+4367762633371&text=urlencodedtext">
              <img src="assets/imgs/whatsapp.png"
                   style="width: 25%; height: auto; margin-left: auto;margin-right: auto;">
              <br>
              <h5 style="color: orange;">+43 677 62633371</h5></a>
          </ion-col>
          <ion-col text-center style="border-radius: 15%">

            <a style="text-decoration:none;"
               href="https://api.whatsapp.com/send?phone=+436605383206&text=urlencodedtext">
              <img src="assets/imgs/whatsapp.png"
                   style="width: 25%; height: auto; margin-left: auto;margin-right: auto;">
              <br>
              <h5 style="color: orange;">+43 660 53832061</h5></a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div style="width: 100%;height: auto">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div (click)="goPage(1)" style="color: white">
            <div
              style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
              <ion-row>
                <ion-col>
                  <img src="assets/imgs/home/wien.png"
                       style="width: 75%; height: auto; margin-left: auto;margin-right: auto;">
                </ion-col>
                <ion-col>
                  <div style="">
                    <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Wien</h5>
                    <h5 style=" font-size: small; color: orange;">Bestellen Sie jetzt!</h5>
                    <h6 style=" font-size: small; color: darkorange;">in Wien 2 stunde Granti Liferung!</h6>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div (click)="goPage(2)" style="color: white">
            <div
              style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
              <ion-row>
                <ion-col>
                  <img src="assets/imgs/home/osterreich.png"
                       style="width: 75%; height: auto; margin-left: auto;margin-right: auto;">
                </ion-col>
                <ion-col>
                  <div style="">
                    <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Österreich</h5>
                    <h5 style=" font-size: small; color: orange;">Bestellen Sie jetzt!</h5>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div (click)="goPage(5)" style="color: white">
            <div
              style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
              <ion-row>
                <ion-col>
                  <img src="assets/imgs/home/ausland.png"
                       style="width: 75%; height: auto; margin-left: auto;margin-right: auto;">
                </ion-col>
                <ion-col>
                  <div style="">
                    <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Ausland</h5>
                    <h5 style=" font-size: small; color: orange;">Bestellen Sie jetzt!</h5>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div (click)="goPage(3)" style="color: white">
            <div
              style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
              <ion-row>
                <ion-col>
                  <img src="assets/imgs/home/pauschl.png"
                       style="width: 75%; height: auto; margin-left: auto;margin-right: auto;">
                </ion-col>
                <ion-col>
                  <div style="">
                    <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Pauschl</h5>
                    <h5 style=" font-size: small; color: orange;">Bestellen Sie jetzt!</h5>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div (click)="goPage(4)" style="color: white">
            <div
              style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
              <ion-row>
                <ion-col>
                  <img src="assets/imgs/home/ausnahme.png"
                       style="width: 75%; height: auto; margin-left: auto;margin-right: auto;">
                </ion-col>
                <ion-col>
                  <div style="">
                    <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Ausnahme</h5>
                    <h5 style=" font-size: small; color: orange;">Keller oder Garten</h5>

                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div (click)="goPage(6)" style="color: white">
            <div
              style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
              <ion-row>
                <ion-col>
                  <img src="assets/imgs/home/tarif.png"
                       style="width: 75%; height: auto; margin-left: auto;margin-right: auto;">
                </ion-col>
                <ion-col>
                  <div style="">
                    <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Tarif Paket</h5>
                    <h5 style=" font-size: small; color: orange;">Bestellen</h5>

                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
