page-home {
  .baGround{
    height: 100%;
    background: url('../assets/imgs/bg.png') no-repeat center center fixed;
    background-size: cover;

  }

  .arka{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #222131;
    opacity: 0.5;
    z-index: -5;
  }

  .foto{
    border: 2px solid #222131;
    border-radius: 10%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

}
