<ion-header transparent>
  <ion-navbar transparent>
    <button style="color: white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center align-items-center><img alt="logo" height="40" src='assets/imgs/logo.png'></ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="height: 100%; background-color: #222131;" padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div (click)="goForm()" style="color: white">
          <div
            style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
            <ion-row>
              <ion-col>
                <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/garten.png" width="100"
                     height="100"/>
              </ion-col>
              <ion-col>
                <div style="">
                  <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">GARTEN</h5>
                  <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Bis 20m<sup>2</sup> / 250€</h5>
                  <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">pro m<sup>2</sup> / 50€</h5>
                  <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <div (click)="goForm()" style="color: white">
          <div
            style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
            <ion-row>
              <ion-col>
                <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/garten.png" width="100"
                     height="100"/>
              </ion-col>
              <ion-col>
                <div style="">
                  <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">KELLER</h5>
                  <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Bis 50m<sup>2</sup> / 450€</h5>
                  <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">pro m<sup>2</sup> / 50€</h5>
                  <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div (click)="goForm()" style="color: white">
          <div
            style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
            <ion-row>
              <ion-col>
                <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/sons.png" width="100"
                     height="100"/>
              </ion-col>
              <ion-col>
                <div style="">
                  <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Sonstige</h5>
                  <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Nur Umfrage</h5>
                  <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
