
<ion-header transparent>
  <ion-navbar transparent>
    <button style="color: white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center align-items-center ><img alt="logo" height="40"   src='assets/imgs/logo.png' > </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="height: 100%; background-color: #222131;">


  <div class="container-contact1">
    <div class="contact1-form ">
      <div class="wrap-input1">
        <ion-datetime style="height: 50px;
   outline: none;
    border: none;
    padding-top: 15px" placeholder="Datum" class="input1" displayFormat="DDDD MMM D, YYYY"
                      monthNames="Januar, Februar, März, April,Mai,Juni,Juli,August,September,Oktober,November,Dezember"
                      monthShortNames="Jan,Feb,Mar,Apr,Mai,Jun,Jul,Aug,Sep,Okt,Nov,Dez"
                      dayNames="Sonntag, Montag, Dienstag, Mittwoch,Donnerstag,Freitag,Samstag"
                      dayShortNames="Son, Mon, Die, Mit,Don,Fre,Sam"
                      pickerFormat="DDDD MMMM YYYY" min="2017" max="2099" [(ngModel)]="tarih"></ion-datetime>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input [(ngModel)]="stunde" type="number" name="stunde" value=""  min="0" max="24" placeholder="Stunde" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input [(ngModel)]="minuten" type="number" name="minuten" value=""  min="0" max="60" placeholder="Minuten" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input type="text" name="name" value="" placeholder="Vor-Nachname" [(ngModel)]="name" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input type="number" name="phone" value="" placeholder="Telefon Nummer" [(ngModel)]="phone" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input type="text" name="packet" value="Für Wien " placeholder="Für Wien" [(ngModel)]="packet" class="input1" required readonly>
        <span class="shadow-input1"></span>
      </div>


      <div class="wrap-input1">
        <ion-select style="width: 100%;max-width: 100%;height: 50px;
   outline: none;
    border: none;
    padding-top: 15px" placeholder="Product" [(ngModel)]="product" interface="popover" class="input1" required>
          <ion-option value="Brief">Brief</ion-option>
          <ion-option value="Bis 5kg">Bis 5kg</ion-option>
          <ion-option value="Bis 10kg">Bis 10kg</ion-option>
          <ion-option value="Bis 30kg">Bis 30kg</ion-option>
          <ion-option value="Bis 60kg">Bis 60kg</ion-option>
          <ion-option value="Bis 80kg">Bis 80kg</ion-option>
          <ion-option value="Bis 100kg">Bis 100kg</ion-option>
          <ion-option value="Rulo Läng 10€ Bis 1.5 meter">Rulo Läng Bis 1.5 meter</ion-option>
          <ion-option value="Rulo Läng 15€ Bis 3 meter">Rulo Läng Bis 3 meter</ion-option>
          <ion-option value="Rulo Läng 15€ Bis 3 meter">Rulo Läng Bis 5 meter</ion-option>
        </ion-select>
        <span class="shadow-input1"></span>
      </div>

      <span style="color: orange" class="contact1-form-title">
          Von Abholung
        </span>

      <div class="wrap-input1">
        <input type="text" name="von_strasse" value="" placeholder="Strasse" [(ngModel)]="von_strasse" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input type="text" name="von_haus" value="" placeholder="Haus-nr" [(ngModel)]="von_haus" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input type="text" name="von_plz" value="" placeholder="PLZ" [(ngModel)]=" von_plz" class="input1" required aria-required="true">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input type="text" name="stadt" value="" placeholder="stadt" [(ngModel)]="stadt" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <ion-select style="width: 100%;max-width: 100%;height: 50px;
   outline: none;
    border: none;
    padding-top: 15px" placeholder="Land" [(ngModel)]="von_land" interface="popover" class="input1" required>
          <ion-option value="Österreich"> Österreich </ion-option>
          <ion-option value="Deuetchland"> Deuetchland </ion-option>
          <ion-option value="Schweiz"> Schweiz </ion-option>
          <ion-option value="Slowakei"> Slowakei </ion-option>
          <ion-option value="Tschechische"> Tschechische </ion-option>
          <ion-option value="Italien"> Italien </ion-option>
          <ion-option value="Slowenien"> Slowenien </ion-option>
          <ion-option value="Kroatien"> Kroatien </ion-option>
          <ion-option value="Andere"> Andere </ion-option>
        </ion-select>
        <span class="shadow-input1"></span>
      </div>

      <span style="color: orange" class="contact1-form-title">
          Nach Zustellung
        </span>


      <div class="wrap-input1">
        <input type="text" name="nach_strasse" value="" placeholder="Strasse" [(ngModel)]="nach_strasse" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input type="text" name="nach_haus" value="" placeholder="Haus-nr" [(ngModel)]="nach_haus" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input type="text" name="nach_plz" value="" placeholder="PLZ" [(ngModel)]="nach_plz" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input type="text" name="nach_stadt" value="" placeholder="Stadt" [(ngModel)]="nach_stadt" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <ion-select style="width: 100%;max-width: 100%;height: 50px;
   outline: none;
    border: none;
    padding-top: 15px" placeholder="Land" [(ngModel)]="nach_land" interface="popover" class="input1" required>
          <ion-option value="Österreich"> Österreich </ion-option>
          <ion-option value="Deuetchland"> Deuetchland </ion-option>
          <ion-option value="Schweiz"> Schweiz </ion-option>
          <ion-option value="Slowakei"> Slowakei </ion-option>
          <ion-option value="Tschechische"> Tschechische </ion-option>
          <ion-option value="Italien"> Italien </ion-option>
          <ion-option value="Slowenien"> Slowenien </ion-option>
          <ion-option value="Kroatien"> Kroatien </ion-option>
          <ion-option value="Andere"> Andere </ion-option>
        </ion-select>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <input type="text" name="email" value="" placeholder="Email" [(ngModel)]="email" class="input1" required>
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1">
        <textarea [(ngModel)]="note" class="input1" placeholder="Note" name="note"></textarea>
        <span class="shadow-input1"></span>
      </div>
      <div class="wrap-input1" >
        <input type="checkbox"   id="ok" required ><label style="color: orange; font-size: medium" for="ok"><a href="https://www.express-logistik.at/agbs/" target="_blank">AGB's</a> gelesen und akzeptiert </label>
      </div>
      <div class="container-contact1-form-btn">
        <button color="ikincil" round ion-button (click)="post()"> Jetzt Buchen </button>
      </div>

    </div>
  </div>

</ion-content>
